*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue--: #0D6EFD;
  --ligth--: #F0F8FF;
  --dark--: #212529;
}

.container{
  width: 100vw;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-login{
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 10px;

  background: var(--blue--);
}

.wrap-login{
  width: 20vw;
  background: var(--ligth--);
  border-radius: 15px;

  overflow: hidden;
  padding: 3rem 2rem 2rem 2rem; 
}

login-form{
  width: 100%;
}

.login-form-title{
  display: block;
  font-size: 30px;
  color: var(--dark--);

  line-height: 1.2;
  text-align: center;
}

.login-form-title img{
  width: 10vw;
}

.wrap-input{
  width: 100%;
  position: relative;
  border-bottom: 3px solid var(--dark--);
  margin-bottom: 37px;
}

.input{ 
  font-size: 15px;
  color: var(--dark--);
  line-height: 1.2;
  border: none;
  display: block;

  width: 100%;
  height: 45px;

  background-color: transparent;

  padding: 0 5px;
}
.focus-input{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  pointer-events: none;
  color: var(--dark--);
}

.focus-input::before{
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: var(--blue--);

}

.focus-input::after{
  font-size: 15px;
  color: var(--dark--);
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus{
  outline: 0;
}

.input:focus + .focus-input::after{
  top: -15px;
}

.input:focus + .focus-input::before{
  width: 100%;
}

.has-val + .focus-input::after {
  top: -15px;
}

.has-val + .focus-input::before {
  width: 100%;
}

.container-login-form-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 15px;
}

.login-form-btn{
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: var(--ligth--);

  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--blue--);

}

.login-form-btn:hover{
  cursor: pointer;
  opacity: 0.9;
}

.text-center{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 35px;
}

.txt1{
  font-size: 14px;
  color: var(--dark--);
  line-height: 1.2;
  text-decoration: none;
  padding-right: 8px;
}

.txt2{
  font-size: 14px;
  color: var(--blue--);
  line-height: 1.2;
  text-decoration: none;
}
